# Pandas - Filtering Data

In [2]:
import pandas as pd
df = pd.read_csv('../NUS/ChallengerSales.csv')
df.head(5)

,Date,Day,Time,Gender,BuyCategory,ItemsOrdered,TotalCost,HighItem,Member,Region
0,6-Mar,Mon,Morning,Female,High,4,136.97,79.97,Yes,West
1,6-Mar,Mon,Morning,Female,Medium,1,25.55,25.55,No,West
2,6-Mar,Mon,Afternoon,Female,Medium,5,113.95,90.47,Yes,West
3,6-Mar,Mon,Afternoon,Female,Low,1,6.82,6.82,No,East
4,6-Mar,Mon,Afternoon,Male,Medium,4,147.32,83.21,Yes,West

In [4]:
west_filter = df['Region'] == 'West'
print(west_filter.head(5),'\n')
print(df['Region'].head(5))

0     True
1     True
2     True
3    False
4     True
Name: Region, dtype: bool

0    West
1    West
2    West
3    East
4    West
Name: Region, dtype: object

In [6]:
west_df_1 = df[:][west_filter]
print(west_df_1.shape,'n')
print(west_df_1.head(5))

(121, 10) n
    Date   Day       Time  Gender BuyCategory  ItemsOrdered  TotalCost  \
0  6-Mar   Mon    Morning  Female        High             4     136.97
1  6-Mar   Mon    Morning  Female      Medium             1      25.55
2  6-Mar   Mon  Afternoon  Female      Medium             5     113.95
4  6-Mar   Mon  Afternoon    Male      Medium             4     147.32
6  7-Mar  Tues    Evening    Male         Low             1      18.65

   HighItem Member Region
0     79.97    Yes   West
1     25.55     No   West
2     90.47    Yes   West
4     83.21    Yes   West
6     18.65     No   West

In [7]:
west_df_2 = df.loc[west_filter , :]
print(west_df_2.shape,'n')
print(west_df_2.head(5))

(121, 10) n
    Date   Day       Time  Gender BuyCategory  ItemsOrdered  TotalCost  \
0  6-Mar   Mon    Morning  Female        High             4     136.97
1  6-Mar   Mon    Morning  Female      Medium             1      25.55
2  6-Mar   Mon  Afternoon  Female      Medium             5     113.95
4  6-Mar   Mon  Afternoon    Male      Medium             4     147.32
6  7-Mar  Tues    Evening    Male         Low             1      18.65

   HighItem Member Region
0     79.97    Yes   West
1     25.55     No   West
2     90.47    Yes   West
4     83.21    Yes   West
6     18.65     No   West

In [8]:
west_df_3 = df.iloc[west_filter , :]
print(west_df_3.shape,'n')
print(west_df_3.head(5))
#will give error

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [11]:
west_filter.values #value will drop the headers , only the values

array([ True,  True,  True, False,  True, False,  True, False,  True,
       False, False, False, False, False,  True,  True, False,  True,
       False, False,  True,  True,  True, False,  True, False, False,
       False, False, False,  True, False, False,  True,  True, False,
       False, False, False, False,  True,  True,  True,  True, False,
       False, False, False,  True, False,  True, False,  True,  True,
        True,  True, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False,  True, False, False,  True, False,  True, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False,  True,  True, False,  True, False,  True, False,
        True, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False,  True, False, False,  True,  True, False, False, False,
        True,  True, False, False, False, False, False, False, False,
       False,  True,  True, False, False, False, False, False, False,
       False, False, False,  True, False, False, False, False,  True,
       False,  True, False, False, False, False, False,  True, False,
       False, False, False, False,  True, False, False, False,  True,
        True, False, False, False, False,  True, False,  True, False,
       False,  True, False,  True, False,  True, False, False, False,
        True,  True, False, False,  True, False, False, False,  True,
        True,  True, False,  True, False, False, False,  True, False,
        True, False, False,  True, False, False, False,  True, False,
       False, False, False, False,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False,  True, False, False, False, False, False,  True,
        True,  True, False,  True,  True, False, False, False, False,
        True,  True, False,  True, False, False, False,  True, False,
       False,  True, False, False,  True, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True,  True, False,
       False,  True,  True, False,  True, False, False, False,  True,
       False, False,  True,  True, False, False,  True, False, False,
       False, False, False, False, False, False,  True,  True, False,
       False,  True, False, False,  True, False,  True, False,  True,
       False, False, False, False,  True, False, False,  True, False,
       False, False,  True, False, False,  True, False,  True, False,
        True,  True, False, False, False, False, False,  True, False,
       False,  True, False, False, False, False, False,  True, False,
       False, False, False, False,  True,  True, False,  True, False,
        True,  True,  True, False,  True, False, False, False, False,
       False,  True, False, False])

In [12]:
west_df_3 = df.iloc[west_filter.values , :] #values here because west_filter itself will also give headers
print(west_df_3.shape,'n')
print(west_df_3.head(5))

(121, 10) n
    Date   Day       Time  Gender BuyCategory  ItemsOrdered  TotalCost  \
0  6-Mar   Mon    Morning  Female        High             4     136.97
1  6-Mar   Mon    Morning  Female      Medium             1      25.55
2  6-Mar   Mon  Afternoon  Female      Medium             5     113.95
4  6-Mar   Mon  Afternoon    Male      Medium             4     147.32
6  7-Mar  Tues    Evening    Male         Low             1      18.65

   HighItem Member Region
0     79.97    Yes   West
1     25.55     No   West
2     90.47    Yes   West
4     83.21    Yes   West
6     18.65     No   West

In [13]:
west_df_3.describe()

       ItemsOrdered   TotalCost    HighItem
count    121.000000  121.000000  121.000000
mean       3.752066  159.449587  106.709669
std        2.180524  105.744110   78.936832
min        1.000000   18.650000   13.160000
25%        2.000000   85.310000   57.880000
50%        3.000000  124.210000   87.100000
75%        5.000000  216.030000  121.060000
max       10.000000  463.400000  381.330000

In [14]:
west_df_3["Gender"].value_counts() #value counts is a series method , no such method for dataframes

Female    66
Male      55
Name: Gender, dtype: int64

In [15]:
west_df_3["Gender"].value_counts(normalize = True)

Female    0.545455
Male      0.454545
Name: Gender, dtype: float64