# Using Pandas to download stocks

In [6]:
from pandas_datareader.data import DataReader
from datetime import datetime

In [7]:
goog = DataReader("GOOG",  "yahoo", datetime(2000,1,1), datetime(2012,1,1))

In [8]:
goog.head()

                 High        Low       Open      Close    Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813290  49.982655  44871361  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942874  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342897  54.495735
2004-08-24  55.591629  51.591621  55.412300  52.239197  15319808  52.239197
2004-08-25  53.798351  51.746044  52.284027  52.802086   9232276  52.802086

In [9]:
type(goog)

pandas.core.frame.DataFrame